{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10 ">
    <h3 class="text-white my-5">About Page</h3>
    <h4> The CEO of state-owned oil company Rosneft has most of his known fortune tied up in superyachts that have been frozen or seized by Western authorities. </h4>
     
    {% comment %} Copy from forbes.com {% endcomment %}
    
    <p> Russian media calls him "Darth Vader.” Moscow-based U.S. diplomats refer to him as the "grey cardinal of the Kremlin," due to his behind-the-scenes influence. He is Igor Sechin, the 61-year-old CEO of state-owned oil giant Rosneft, long considered Vladimir Putin’s unofficial second-in-command.
    </p>
    <p>
    Sechin’s unwavering loyalty to Putin over the past two decades has made him extremely wealthy. But just how rich? It’s difficult to say precisely, since Sechin’s fortune is nearly as opaque as Putin’s, with no paper trail beyond his shares in publicly traded Rosneft. But based on public records, reporting by Russian media outlets and yacht valuations provided by VesselsValue, Forbes estimates Sechin is worth at least $800 million. Or he was worth that much until he was hit with European Union sanctions on February 28.
    </p>
    <p>
    Sechin’s most valuable assets are two of the world’s most valuable yachts: the $511 million, 445-foot Crescent, which has two helicopter pads—including a retractable hangar—plus a movie theater, beauty salon and swimming pool, and the $134 million, 281-foot Amore Vero (originally named St. Princess Olga after his second ex-wife Olga Sechina until their divorce in 2017), which has a swimming pool that converts into a helicopter platform. In March, both were frozen and seized, the Crescent in Spain and the Amore Vero in France. While it’s unclear if Sechin owns Crescent directly or through an associate, VesselsValue identified Sechin as the yacht’s beneficial owner, as did a Spanish police source cited by Reuters and a yacht industry source who spoke to Forbes.
    </p>
</div>

{% endblock content %}
